// Scss variables is only to be used if the value is an constant, if not use css variables
// as scss variables can not be changed during runtime as the values are Pre-processed / Pre-compiled.

// Breakpoints:
$large-screen-break-point: 1200px;

// Emojis:
$emoji-detective: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🕵🏾</text></svg>") 16 0, auto;

// Colors:
$primary-color: #fdf9ff;
$accent-color: #674576;