@import "../../../assets/scss/variables";
@import "../variables";

.HomePage {
  overflow: hidden;
  height: 100vh;
  animation-name: showScrollBar;
  animation-duration: $animation-part-2-duration;
  animation-fill-mode: forwards; 
  animation-delay: $animation-delay;
}

@keyframes showScrollBar {
  from {
    overflow: hidden;
    height: 100vh;
  }
  to {
    overflow: initial;
    height: unset;
  }
}

@media (min-width: $large-screen-break-point) {
  .HomePage {
    // Big Screens have the SplitScreen Animation as well.

    animation-delay: calc($animation-delay + $animation-part-1-duration);
  }
}